*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #bbb;
}

.container{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 900px;
    padding: 60px 0px 60px;
    color: white;
}

.add-button1{
    padding: 0px 10px 0px 10px;
    background-color: aqua;
}

.push{
    color: #000;
    font-size: 30px;
}