/*====================================== reset.css is here ========================================*/
*{margin:0; padding:0; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
*:after,*:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
ol,ul { list-style:none;}
caption,th {text-align:left;}

q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.last   {margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:0 none !important; }
header,nav,section,article,aside,footer,hgroup,figure {display: block; }
/**************************************************************************************/
a {color:#000; text-decoration:none; outline:0 none !important; }
a:hover, a:focus {color:#000;  text-decoration:none; outline:0 none !important;}
h1 {font-size: 50px;font-weight: 700;line-height: 47px;}
h2 {font-size: 28px;font-weight: 400;line-height: 38px;}
h3 {font-size: 25px;font-weight: 400;line-height: 35px;}
h4 {font-size:18px;font-weight: 400;line-height: 21px;}
h5 {font-size:16px;font-weight: 500;line-height: 19px;}
h6 {font-size:14px;font-weight: 400;line-height: 17px;}
/*---------------------------------------------------*/
html {}
body {color: #383E41;  font-size:16px;background-color: #fff;width: 100%!important; font-family: 'ProductSans';}
 html, body {max-width: 100%; overflow-x: hidden;}
/*-----------LayOut Start here-----------------------*/
.wrapper{margin:0 auto;position: relative;;overflow: hidden;padding-top: 100px;}
.container{max-width:1250px; margin:0 auto;}
p{font-size: 18px;color: #383E41;  font-family: 'ProductSans';line-height: 30px;margin-bottom: 0;}
.text-black{color: #000;}

.light-red{color: #FF5A5F;}

/* -------Don't Remove this---------------*/
/*textarea, */button, select {
    /*-webkit-appearance:noneSafari/Chrome*/
    -moz-appearance:none;/*Firefox*/
    -ms-appearance:none;/*IE*/
    -o-appearance:none;/*Opera*/
    appearance:none;
    -webkit-border-radius:0;
}

.count{
    background: rgb(252, 249, 249);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

span {
    font-size: 100px;
    padding: 10px;
    color: grey;
    display: flex;
    justify-content: center;
  }

.bgcolor-counter{
    background: rgb(236, 235, 235);
    padding: 40px 60px 40px 60px;
}  

.heading-counter{
    display: flex;
    justify-content: center;
}

.create{
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.count{
    padding: 40px 0px 40px 0px;
}

.count .decrease{
    box-shadow: none;
}

.count .Reset{
    box-shadow: none;
}

.count .increase{
    box-shadow: none;
}